
<section class="flh-home">
    <div class="container grid">
        <div class="flh-home-body">
            <ul class="flh-home-body flex">
                <li><i class="fa-solid fa-person-chalkboard"></i><%= link_to 'Modules', flh_modules_path %></li>
                <li> <i class="fa-solid fa-comments-dollar"></i> <%= link_to 'Society', flh_society_questions_path %></li>
                <li><i class="fa-solid fa-books"></i><%= link_to 'Resources', flh_resources_posts_path %></li>
                <li><i class="fa-solid fa-calendar-day"></i></i><%= link_to 'Events', flh_events_path %></li>
            </ul>
        </div>
    </div>
</section>
