<h1>flh home</h1>
<%= link_to 'Modules', flh_modules_path %>
<%= link_to 'Society', flh_society_questions_path %>
<%= link_to 'Resources', flh_resources_posts_path %>
<%= link_to 'Events', flh_events_path %>