

<section class="flh-module">
    <div class="container grid">
        <div class="my-1">
        </div>
            <div>
                <% @flh_resources_posts.each do |post| %>
                <div class="card">
                    <div class="flex-society">
                        <%= link_to post.title, flh_resources_post_path(post) %>
                        <br>
                        <%= post.body%>
                    </div>
                </div>
                <% end %>
            </div>
        <div class="my-1">
        </div>
    </div>
</section>