<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>
                Buckskeeper
            </h1>
        </div>
        <div class="showcase-text">
            <p>
                The path leading to your wealth.
            </p>
            <p>
                Take Control Over Your Finances and
                Grow your financial knowledge.
            </p>
            <p>
                Curated by licensed financial advisors and entrepreneurs for entrepreneurs like you.
            </p>
        </div>
    
    </div>
</section>
