<h2><%= link_to 'Create a new question', new_flh_society_question_path %></h2>
<br>
<div>
    <% @flh_society_questions.each do |question| %>
        <%= link_to question.title, flh_society_question_path(question) %>
        <br>
        <%= question.body%>

    <% end %>
</div>